testmid.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT census-record (taker,date,address,person+)>
<!ELEMENT taker (#PCDATA)>
<!ELEMENT date (day,month,year)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT address (street,city,county+,postalcode)>
<!ELEMENT street (#PCDATA|unit)*>
<!ELEMENT unit (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT county (#PCDATA)>
<!ELEMENT postalcode (#PCDATA)>
<!ELEMENT person (pid,name,age,gender,employee?)>
<!ELEMENT pid (#PCDATA)>
<!ELEMENT name (first,last)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT last (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT employee (#PCDATA)>
